* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
    list-style: none;
}

:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
    --clr-neutral-900: hsl(207 19% 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: #42f584;
    --primary: #2175f5;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* nav bar css */
header {
    position: fixed;
    background: #111;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 5;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: var(--text-color);
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: var(--text-color);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #111;
    background: var(--text-color);
}

.nav-bar ul li a.active {
    color: var(--main-color);
    background: var(--text-color);
}

@media only screen and (max-width:1320px) {
    header {
        padding: 0 50px;
    }

    .nav-bar ul li a:hover {
        color: #111;
        background: var(--text-color);
    }
}

@media only screen and (max-width:1100px) {
    header {
        padding: 0 30px;
    }

    .nav-bar ul li a:hover {
        color: #111;
        background: var(--text-color);
    }
}

@media only screen and (max-width:940px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: var(--text-color);
        margin: 6px 0;
    }

    .nav-bar {
        /* height: 300px; */
        /*container height of the nav bar to mobile */
        height: 0;
        position: absolute;
        top: 80px;
        left: 0px;
        right: 0px;
        width: 100vw;
        background: #111;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: fit-content;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 30px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a:hover {
        color: #111;
        background: var(--text-color);
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
        /* color: red; */
    }

    h2 {
        font-size: larger;
        font-weight: 600;
    }
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

header {
    position: sticky;
}

.hero {
    background-image: var(--bg-color);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--main-color);
}

h1 {
    font-size: 36px;
    text-align: center;
}

.products {
    padding: 50px;
}

.product-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.product {
    background-color: #fff;
    border: 1px solid #ccc;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
}


.product a {
    background-color: #333;
    color: #a59f9f;
    display: block;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.product a:hover {
    background-color: #666;
}

.product img {
    width: 90%;
    height: 200px;
    transition: transform 0.3s ease-out;
}

.product:hover img {
    transform: scale(1.2);
}


.product h2 {
    font-size: 24px;
    margin: 20px;
}

.product p {
    margin: 20px;
    font-size: 14px;
    line-height: 1.5;
}

footer {
    background-image: linear-gradient(to bottom right, #292620, #1c1a1a);
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}